.pane{
-fx-background-image : url(../resources/images/loginBG.gif);
-fx-background-repeat : no-repeat;
-fx-background-size : cover;
}

.tabPane {
-fx-background-color : #361e3d;
-fx-border-color : BLACK;
-fx-border-width : 1px;
}

.tab-header-area{
}

.tab-header-background {
-fx-background-color : #241429;
}

.tab {
-fx-background-color:#241429;
-fx-focus-color : transparent;
-fx-faint-focus-color : transparent;
}

.tab .tab-label  {
-fx-text-fill : #98929c;
}

.tab:selected {
-fx-background-color :#361e3d;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #c2c2c2 #361e3d #ff9500 #c2c2c2
}

.tab:selected .tab-label{
-fx-text-fill : WHITE;
}

.button{
-fx-background-color:#ff9500 ;
-fx-background-radius : 0px;
}

.button:hover {
-fx-background-color:#cc7700 ;
}

.button:focused{
-fx-text-fill : BLACK;
    -fx-background-insets: 1 1 1 1;
}

.text-field {
-fx-background-color : #7f7a82 ;
-fx-border-color: #230038;
-fx-prompt-text-fill : #4d4254;
-fx-background-radius : 2px;
}
.text-field:focused  {
-fx-border-width : 0 0 2 0;
-fx-background-color :#98929c;
}